<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
  $("div[data-role*='page']").live('pageshow', function() {
    if($(this).find("div[data-role*='header']").is('.show_room')) {
      initialize_googlemaps($(this).find('.map_canvas').get(0));
    }
  });
  </script>
  <%= yield :head %>
</head>
<body>
  <div data-role="page">
    <%= yield %>
  </div>
</body>
</html>