<!DOCTYPE html>
<html>
<head>
  <title>Studentmap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <%= stylesheet_link_tag    "mobileapp" %>
  <%= javascript_include_tag "mobileapp" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
</html>