<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  function initialize_googlemaps(element) {
    var latlng = new google.maps.LatLng($('#latitude').html(), $('#longditude').html());
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(element, myOptions);
    var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title: $('#roomName').html()
    });
  }
  </script>
  <%= yield :head %>
  
</head>
<body>
	<div id="login-out">
		<% if current_user %>
			Logged in: <%= current_user.email %>
			<%= link_to "My page", user_path(current_user) %>
			<%= link_to "Log Out", log_out_path, :method => :delete %>
		<% else %>
			<%= link_to 'Sign up', new_user_path %>
			or Login:
		<%= render :partial => 'sessions/form' %>
		<% end %>
	</div>

<h1 id="pageTitle">studentmap</h1>

<%= yield %>

</body>
</html>